body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color2);
}

:root {
  --brand-color: #2196F3;
  --text-color: #212121;
  --text-color2: #757575;
  --text-color3: #fff;
  --background-color1: #fff;
  --background-color2: #F5F4FA;
  --background-color3: #2F303A;
  --background-color4: #E5E5E5;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

}

.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  justify-content: space-between;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  border-bottom: 1px solid #ECECEC;
  font-weight: 500;
  line-height: 1.1;
  

}
.header-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color:var(--brand-color)
}

.logo-black {
  color: #000
}
.logo-white {
  color: var(--text-color3);
}

.nav-item:not(:last-child), .contacts-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--text-color);
}

.nav-link:hover, 
.nav-link:focus, .contacts-link:hover,
.contacts-link:focus {
  color: var(--brand-color);
}

.hero {
  color: var(--text-color3);
  background-color: var(--background-color3);
}
.hero-container {
  display: flex;
  padding-bottom: 200px;
  padding-top: 200px;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn-hero {
  padding: 10px 32px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--text-color3);
  background-color: var(--brand-color);
  border-radius: 4px;
  cursor: pointer;
}

.btn-hero:hover, .btn-hero:focus {
  color: var(--text-color3);
  background: #188CE8;
}

.btn-filters {
  font-size: 16px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--background-color2);
  color: var(--text-color);
}
.btn-filters:hover, .btn-filters:focus {
  color: var(--text-color3);
  background-color: var(--brand-color);
  
}
.skills-item:not(:last-child) {
  margin-right: 30px;
}
.skills-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--text-color);
}

.skills-text {
  margin-right: 0;
  margin-bottom: 0;
}

.work-container {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color);
}
.team {
  background-color: var(--background-color2);
}
.team-item {
  text-align: center;
  background-color: var(--background-color1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
}
.team-name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}

.team-work {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color2);
}
footer {
  background-color: var(--background-color3);
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
address {
  font-style: inherit;
}
.address-list {
  display: inline;
  font-size: 14px;
  line-height: 1.7;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

.address-google {
  display: inline-block;
  margin-top: 20px;
  color: var(--text-color3);
}

/* projects */
.hidden {
  visibility: hidden;
  display: none;
}
.filters {
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item:not(:last-child) {
  margin-right: 9px;
}
.projects-list {
  flex-wrap: wrap;
}
.projects-item {
  margin-bottom: 30px;
  text-align: left;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
}
.projects-item:nth-child(3n) {
  margin-right: 0;
}
.projects-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.projects-title {
  margin: 20px 0  0 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.projects-text {
  margin: 0  0  0 24px;
  font-size: 16px;
  line-height: 1.9;
}

