body {

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--text-color)
  
}

:root {
  --brand-color: #2196F3;
  --text-color: #212121;
  --text-color2: #757575;
  --text-color3: #fff;
  --background-color1: #fff;
  --background-color2: #F5F4FA;
  --background-color3: #2F303A;
  --background-color4: #E5E5E5;
}
.list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

}
.header-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.name-page, .name-page-bottom {
  padding: 0;
  display: inline-block;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}
.name-page-bottom {
  color: var(--text-color3);
}

.brandcolor {
  color: var(--brand-color);
}

.nav-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav-list .nav-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-studio,
.navigation-portfolio,
.navigation-contacts {
  text-decoration: none;
  color: var(--text-color);
}

.navigation-studio:hover, 
.navigation-studio:focus, 
.navigation-portfolio:hover, 
.navigation-portfolio:focus, 
.navigation-contacts:hover, 
.navigation-contacts:focus {
  color: var(--brand-color);
}

.contacts-list {
  display: flex;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.mail-top {
  margin-right: 50px;
}
.tel-top, .mail-top{
  text-decoration: none;
  color: var(--text-color2);
}
.tel-top:hover, tel-top:focus, .mail-top:hover, .mail-top:focus {
  color: var(--brand-color);
}

.hero {
  color: var(--text-color3);
  background-color: var(--background-color3);
}
.hero-container {
  display: flex;
  padding-bottom: 200px;
  padding-top: 200px;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* buttons */

.btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--text-color3);
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background-color: var(--brand-color);
  color: var(--text-color3);
}
.btn-hero {
  display: inline-block;
  padding: 10px 32px;
}
.skills-list {
  display: flex;
}
.skills-item:not(:last-child) {
  margin-right: 30px;
}
  

.skills-title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.skills-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color2);
}
.work {
  background-color: var(--background-color4);
}
.work-list {
  display: flex;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.work-title, .team-title {
  margin-bottom: 50px;
  margin-top: 0;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.team {
  background-color: var(--background-color2);
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list:not(:last-child) {
  margin-right: 30px;
}

.person-item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.person-name {
  font-weight: 500;
  font-size: 16px;
}

.person-work {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color2);
}
footer {
  background-color: var(--background-color3);
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.name-page-bottom {
  margin-bottom: 20px;
}

.address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-google {
  margin-top: 20px;
  text-decoration: none;
  color: var(--text-color3);
}

.mail-bottom, .tel-bottom {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

/* projects */

.projects h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects p {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color2);
}
.projects a {
  text-decoration: none;
}
